@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.app {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
